{% extends 'website_amb/base.html' %}

{% block titulo_aba %}Sobre - Achei Mais Barato{% endblock %}

{% block conteudo_principal %}

<!-- Página Sobre: missão e objetivo do projeto -->

<main class="pagina-sobre container d-flex justify-content-center align-items-center min-vh-100" role="main">

  <div class="conteudo-sobre text-center px-3 px-md-5">

    <!-- Título da página -->
    <h1 class="text-primary text-uppercase mb-3 mt-5">Sobre</h1>

    <!-- Descrição com foco em SEO -->
    <p class="descricao-sobre lead">
    O <strong>Achei Mais Barato</strong> é um site criado para ajudar você a encontrar produtos com os <strong>melhores preços online</strong>. 
    Reunimos <strong>ofertas atualizadas</strong> de grandes plataformas como <strong class="text-danger">Shopee</strong> e <strong class="text-primary">Amazon</strong>, tudo em um só lugar.
    <br>
    A proposta é oferecer uma experiência <strong>rápida, prática e objetiva</strong>, facilitando suas escolhas e ajudando você a economizar.  
    Nosso propósito é tornar suas compras <strong>mais inteligentes, econômicas e acessíveis</strong>.
    </p>

  </div>

</main>

{% endblock %}
